* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0d0b13;
    color: #333;
    line-height: 1.6;
}

nav {
    background-image: linear-gradient(to right, #3f00eb, hsl(255, 40%, 15%));
    color: #fff;
    padding: 50px;
    width: 100%;
}

nav, ul, li {
    list-style: none;
    display: inline-flex;
    gap: 20px;
    justify-content: center;;
}

nav a {
    background-color: #0d0b13;
    padding: 7px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    background-color: #3f00eb;
    color: #ffd900;
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.836);
    background-color: #0d0b13;
    background-image: linear-gradient(to right, #3f00eb, hsl(255, 40%, 15%));
}
section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}
img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 20px;
    margin: 30px;
}

p {
    text-align: justify;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.836);
}



.cursos, li {
    color: #fff;
    justify-content: justify;
    display: block;
    padding-left: 25px;
    margin: 10px 0;
    
}

